
  <div class="row">
    <div class="col-md-12"><br/><br/>
    <h2>Users Details</h2><br/>
    <%= link_to 'Profile', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <h2>Address:</h2>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @user.address.phone_no %>
      </p>

      <p>
        <strong>Address Line:</strong>
        <%= @user.address.line %>
      </p>

      <p>
        <strong>Street:</strong>
        <%= @user.address.street %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @user.address.city %>
      </p>

      <p>
        <strong>State:</strong>
        <%= @user.address.state %>
      </p>

      <p>
        <strong>Pin Code:</strong>
        <%= @user.address.pin_code %>
      </p>

      <%= avatar_for @user, size: 50 %>

      
    </div>
  </div>
</div>
